fish_history
fishd.*
fish/fundle
fish/functions/fzf_key_bindings.fish
fish/functions/fish_user_key_bindings.fish
fish/fish_variables
.DS_Store
.netrwhist
configstore
rclone
yarn
xbuild
stetic
NuGet
htop
*.swp
vim/plugged
asciinema
containers
gatsby
k3d
wireshark
.DS_Store
oni2/extensions
oni2/store
oni2/workspace
iterm
