#!/usr/bin/env bash

# Docs: https://direnv.net/man/direnv-stdlib.1.html

watch_file flake.nix
watch_file flake.lock
watch_file devenv.nix

DEVENV_ROOT_FILE="$(mktemp)"
printf %s "$PWD" > "$DEVENV_ROOT_FILE"
if ! use flake . --impure --override-input devenv-root "file+file://$DEVENV_ROOT_FILE"
then
  echo "devenv could not be built. The devenv environment was not loaded. Make the necessary changes to devenv.nix and hit enter to try again." >&2
fi
